.navbar
  background-color: #fff
  &-top
    padding-top: 40px
    padding-bottom: 40px
    display: flex
    justify-content: space-between
    align-items: center
  &-bottom
    background-color: $dark-blue
  &__nav
    padding: 31px 0 31px 0

.header
  &-form
    margin-right: auto
    margin-left: 109px
    position: relative
    height: 40px
    overflow: hidden

.form
  border-radius: 6px
  &__input
    padding-left: 23px
    padding-right: 75px
    width: 350px
    height: 100%
    +Mulish(normal, 12px)
    line-height: 15px
    color: $text-color
    border: none
    background-color: #F5FAFE
    outline: none
    &::placeholder
      color: $placeholder-color
      opacity: 1
  &__button
    padding-top: 4px
    position: absolute
    top: 0
    right: 0
    width: 65px
    height: 100%
    background-color: $active-color
    border: none
    cursor: pointer
  &__icon
    width: 16px

.logo
  width: 176px
  height: 17px

.user
  margin-left: 30px
  display: flex
  align-items: center
  text-decoration: none
  color: $text-color
  &__image
    width: 40px
    height: 40px
    border-radius: 50%
    object-fit: cover
  &__name
    margin-left: 18px
    +Mulish(normal, 14px)
    color: inherit
    line-height: 18px

.nav
  display: flex
  justify-content: space-between
  align-items: center
  &-list
    margin: 0
    padding: 0
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    list-style: none
    &--mobile
      &_hidden
        display: none
    &__item
      &--mobile
        &_visible
          display: none
    &__link
      +Mulish(bold, 14px)
      text-decoration: none
      color: #fff
      text-transform: uppercase

.burger
  &-menu
    padding: 0
    display: none
    flex-direction: column
    justify-content: space-between
    align-items: center
    width: 16px
    height: 11px
    background-color: transparent
    border: none
    cursor: pointer
    outline: none
    &__item
      width: 16px
      height: 1px
      background-color: $text-color
