.header
  &-top
    padding-top: 40px
    padding-bottom: 40px
    display: flex
    justify-content: space-between
    align-items: center

.search-form
  margin-right: auto
  margin-left: 108px
  position: relative
  height: 40px
  border-radius: 6px
  overflow: hidden
  &__input
    padding-left: 23px
    padding-right: 75px
    width: 350px
    height: 100%
    +Mulish(normal, 12px)
    line-height: 15px
    color: $text-color
    border: none
    background-color: #F5FAFE
    outline: none
    &::placeholder
      color: $placeholder-color
  &__button
    position: absolute
    top: 0
    right: 0
    width: 65px
    height: 100%
    background-color: $active-color
    border: none
    cursor: pointer

.user
  display: flex
  align-items: center
  text-decoration: none
  &__image
    width: 40px
    height: 40px
    border-radius: 50%
    object-fit: cover
  &__name
    margin-left: 18px
    +Mulish(normal, 14px)
    line-height: 18px
